$width: 1140px;
$gap: 40px;

* {
    box-sizing: border-box; 
    padding:0;
    margin:0;
}

html {
    font-size:62.5%;
	
}

body {
	color: black;
	font: 1.4rem/2.1rem 'Open Sans';
	background: #fefefe;
	
	.header {
		background: #fff;
	}

	.main {
        position: relative;
		background: #f6f6f6;
    
		.mainContent {
			width: $width;
			margin: auto;
			
			.doubleCol {
				display: flex;
				justify-content: space-between;
    
				.title {
					margin: 4rem 4rem 0 0;
					padding: 1.5rem 0 0;
					border-top: .1rem dotted #959595;
					width: ($width - ($gap * 3)) / 4;
					font: 1.4rem/2.1rem 'Open Sans';
					text-transform: uppercase;
					color: #565656;
				}
    
				.content {
					margin-top: 4rem;
					width: ($width / 4) * 3 - ($gap / 4);
				}
			}
		}
	}

	.footer {
		background: #171717;
	}
}

@import 'parts/header';
@import 'parts/menu';
@import 'parts/blog';
@import 'parts/gallery';
@import 'parts/footer';
//@import 'adaptive/main';