doctype html

include var/global.pug
include var/mixins.pug

html
    include includes/head.pug    
    body       
        header.header
            div.headerContent
                div.logo
                    + image("motive.png", "motive")
                    a(href="")
                        p moti
                            span ve
                div.headerMainContent
                    div.line
                    nav
                        ul.menu
                            li
                                a(href="") Home
                            li
                                a(href="") About
                            li
                                a(href="") Portfolio
                            li
                                a(href="") Blog
                            li
                                a(href="") Styles
                            li
                                a(href="") Contact
                    div.search
                        a(href="")
                            + image("search.jpg", "search")
                        form 
                            input(type="search" placeholder="Search here")
                    h1 Design is not the narrow application of formal skills, it is a way of thinking.
        main.main
            div.mainContent
                section.doubleCol
                    h2.title Form the blog
                    div.content.blog
                        article
                            div.backgroundLink
                                + image("image1.jpg", "image1")
                                a(href="")
                            h3 Blog post titles in here
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias nisi quaerat quasi accusantium fuga error animi.   
                        article
                            div.backgroundLink
                                + image("image2.jpg", "image2")
                                a(href="")
                            h3 Blog post titles in here
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias nisi quaerat quasi accusantium fuga error animi.
                        article
                            div.backgroundLink
                                + image("image3.jpg", "image3")
                                a(href="")
                            h3 Blog post titles in here
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias nisi quaerat quasi accusantium fuga error animi.
                section.doubleCol
                    h2.title recent projects
                    div.content.gallery
                        article
                            + image("image4.jpg", "image4")
                            a(href="")
                                h3 In this way, envanto
                                p Photography
                        article
                            + image("image5.jpg", "image5")
                            a(href="")
                                h3 In this way, envanto
                                p Photography
                        article
                            + image("image6.jpg", "image6")
                            a(href="")
                                h3 In this way, envanto
                                p Photography
                        article
                            + image("image7.jpg", "image7")
                            a(href="")
                                h3 In this way, envanto
                                p Photography
                        article
                            + image("image8.jpg", alt="image8")
                            a(href="")
                                h3 In this way, envanto
                                p Photography
                        article
                            + image("image9.jpg", "image9")
                            a(href="")
                                h3 In this way, envanto
                                p Photography
                        article
                            + image("image10.jpg", "image10")
                            a(href="")
                                h3 In this way, envanto
                                p Photography
                        article
                            + image("image11.jpg", "image11")
                            a(href="")
                                h3 In this way, envanto
                                p Photography
        footer.footer
            div.footerContent
                div.footerWrapper
                    article
                        h4 About us
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque ab possimus consequuntur consectetur sed, sapiente quasi a quaerat ullam iusto harum tenetur.
                    article
                        h4 Twitter feed
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque ab  
                            a(href="") http://consequuntur.com
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    article
                        h4 Follows us
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque ab possimus consequuntur.
                        + image("social.png", "social")