$width: 1140px;
$gap: 40px;

.footerContent {
	margin: auto;
	display: flex;
	justify-content: space-between;
	width: $width;
	

	article {
		margin: 6rem 4rem 0 0;
		width: ($width - ($gap * 3)) / 4;
        
        &:nth-of-type(4n) {
			margin-right: 0;
		}
        
		h4 {
			text-transform: uppercase;
			font: 1.4rem/2.1rem 'Open Sans';
			color: #919191;
			margin-bottom: 2rem;
		}

		p {
			font: 1.2rem/1.8rem 'Open Sans';
			color: #474747;
			margin-bottom: 2rem;
		
			a {
				font-style: italic;
				text-decoration: none;
				color: #5c5c5c;

				&:hover {
					color: #bbb;
				}
			}
		}
		
		img {
			display: block;
		}
	}
}