.headerContent {
	margin: auto;
	display: flex;
	justify-content: space-between;
	width: 1140px;
	
	.logo {
		width: calc(25% - 20px);
		margin-top: 8.5rem;
		position: relative;
		
		img {
			position: absolute;
			width: 60px;
			height: 70px;
			left: 30px;
			top: -20px;
		}
		
		a {
			text-decoration: none;
			font: 600 3.6rem/2.1rem 'Open Sans';
			color: #3d3d3d;
			position: relative;
			
			span {
				color: #bbb;
			}
		}
		
}
	
	.line {
		margin-bottom: 7.5rem;
		background: #000;
		width: 100%;
		height: .5rem;
	}
	
	.headerMainContent {
		display: flex;
		flex-flow: wrap;
		justify-content: space-between;
		width: calc(75% - 20px);
	}
	
	h1 {
		color: #565656;
		font: 300 3rem/3.6rem 'Open Sans';
		margin-bottom: 8rem;
	}

}

.search {
	display: flex;
	width: 165px;
	height: 30px;
	border: .1rem solid #b3b3b3;
	border-radius: .2rem;
	
	img {
		display: block;
		margin: .6rem 1.5rem 0 .6rem;
		width: 13px;
		height: 17px;
	}
	
	input {
		display: block;
		width: 128px;
		height: 28px;
		border: none;
		font: italic 1.2rem/1.8rem Arial;
		color: #b3b3b3;
	}
}
