.menu {
	display: flex;
	margin-bottom: 9rem;
	
	li {
		list-style: none;
	}
	
	a {
		padding-bottom: 1.5rem;
		font: 600 1.5rem/3.6rem 'Open Sans';
		text-transform: uppercase;
		margin-right: 2rem;
		text-decoration: none;
		color: #959595;
	
		&:hover {
			color: #565656;
			border-bottom: .1rem solid #565656;
		}
	}
}